<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}
 <ul>
 <div class="container">
 <div class="card-deck mt-4">
{% for page in all_posts_lists %}
  <div class="post-entry">
   <span class="border border-success"></span>
    <div class="card rounded" style="width: 18rem;" >
      <div class="embed-responsive embed-responsive-16by9">
        {% load static %}
     <img class="card-img-top embed-responsive-item" src="{% static 'images/test.jpg' %}" alt="Card image cap">
     </div>
  </div>
      <div class="card-body">
        <h2>{{ page.title }}</a></h2>
        <p class="tags">Tags: {{ page.tags.all|join:", "}}</p>
        
      </div>
      <div class="card-footer">
     <a class="btn btn-success ml-2" href="{% url 'about' page.pk %}">View📃️ </a> 
       </div>
    </div>   
 {% endfor %}
  </div>
 </div>
</ul>


<div class="pagination">
    <span class="step-links">
        {% if is_paginated %}

                {# Displays previous pages #}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4"
                       href="?page={{ page_obj.previous_page_number }}">Previous
                    </a>
                {% endif %}

                {# Displays current page #}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                 {% endfor %}

                {# Displays next pages #}
               {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4"
                       href="?page={{ page_obj.next_page_number }}">Next
                    </a>
                    <a class="btn btn-outline-info mb-4"
                       href="?page={{ page_obj.paginator.num_pages }}">Last
                    </a>
                {% endif %}

            {% endif %}
    </span>
</div>
{% endblock content %}

