/* static/css/base.css */
body {
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
}
.container{
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-group {
  margin-bottom: 20px;
}

.card {
   margin-bottom: 10px;
}
.help_text 
{display: none}

.navbar-brand1{
  margin-right: 10px;
  color: blue;
  text-align: justify;
}
